.cstm-bg-green-gradient {
  background: linear-gradient(
    112.47deg,
    #f8fcfa -17.2%,
    rgba(224, 255, 227, 0.02) 114.3%
  );
}

.cstm-tempown-gradient {
  background: linear-gradient(112.47deg, #70c79e -17.2%, #128324 114.3%);
}

.cstm-good-company-gradient {
  background: linear-gradient(
    112.47deg,
    #e2f4eb -17.2%,
    rgba(247, 252, 250, 0.12) 114.3%
  );
}

.cstm-article-shadow {
  box-shadow: 0px 1px 25.935483932495117px 0px #08a05c26;
}

@media only screen and (max-width: 767px) {
  .cstm-good-company-gradient {
    background: transparent;
  }
}

.time-container {
  margin: 0%;
}

.time-circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.time-circle text {
  font-family: Matter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.105em;
  text-align: center;
}
.time-red-text {
  position: absolute;
  left: 160px;
  bottom: 185px;
  width: 80px;
  height: 40px;
}

.time-circle svg.green {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 335px;

  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
