.cstm-bg-green-gradient {
  background: linear-gradient(
    112.47deg,
    #f8fcfa -17.2%,
    rgba(224, 255, 227, 0.02) 114.3%
  );
}

.cstm-tempown-gradient {
  background: linear-gradient(112.47deg, #70c79e -17.2%, #128324 114.3%);
}

.cstm-good-company-gradient {
  background: linear-gradient(
    112.47deg,
    #e2f4eb -17.2%,
    rgba(247, 252, 250, 0.12) 114.3%
  );
}

.cstm-article-shadow {
  box-shadow: 0px 1px 25.935483932495117px 0px #08a05c26;
}

@media only screen and (max-width: 767px) {
  .cstm-good-company-gradient {
    background: transparent;
  }
}
